<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.Testing.testscripts.Trending"/>
      <class name="org.Testing.testscripts.Subscription"/>
      <class name="org.Testing.testscripts.VideoPlay"/>
      <class name="org.Testing.testscripts.ChannelSubscription"/>
      <class name="org.Testing.testscripts.HistoryCheck"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
